/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff; /* Blue background */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo styling */
  .logo img {
    height: 50px;
    width: auto;
    border-radius: 15px;
  }
  
  /* Heading styling */
  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
  }
  
  /* Login Button styling */
  .login-btn {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
    color: white;
  }
  